<div class="col-xs-8 col-xs-offset-2">
	<h4>マイページ</h4><br>
	<h4><span style="background-color: #efefef">登録情報</span></h4>
	<%= link_to "編集する", edit_customer_path(@customer), class: "btn botan" %>
	<%= link_to "パスワードを変更する", edit_customer_registration_path, class: "btn botan" %>
	<br><br>
	<table class='table'>
		<tbody>
			<tr>
				<th class="col-xs-3">氏名</th>
				<td class="col-xs-9"><%= @customer.last_name %><%= @customer.first_name %></td>
			</tr>
			<tr>
				<th>カナ</th>
				<td><%= @customer.last_name_kana %><%= @customer.first_name_kana %></td>
			</tr>
			<tr>
				<th>郵便番号</th>
				<td><%= @customer.postcode %></td>
			</tr>
			<tr>
				<th>住所</th>
				<td><%= @customer.address %></td>
			</tr>
			<tr>
				<th>電話番号</th>
				<td><%= @customer.phone %></td>
			</tr>
			<tr>
				<th>メールアドレス</th>
				<td><%= @customer.email %></td>
			</tr>
		</tbody>
	</table>

		<h4 class="send-address"><span style="background-color: #efefef">配送先</span></h4>
		<%= link_to "一覧を見る", addresses_path, class: "btn botan"%>
		<br>
		<h4 class="order-index"><span style="background-color: #efefef">注文履歴</span></h4>
		<%= link_to "一覧を見る", orders_path, class: "btn botan"%>
</div>