<div class="recommend-item-list col-xs-3">
    <%= link_to product_path(@product1) do %>
        <figure class="recomend-item"><%= attachment_image_tag(@product1, :image, :fill, 230, 230,)%></figure>
    <% end %><br>
   <%= @product1.name%><br>
    짜<%= @product1.price%>
</div>

<div class="recommend-item-list col-xs-3">
    <%= link_to product_path(@product2) do %>
        <figure class="recomend-item"><%= attachment_image_tag(@product2, :image, :fill, 230, 230,)%></figure>
    <% end %><br>
	<%= @product2.name%><br>
    짜<%= @product2.price%>
</div>

<div class="recommend-item-list col-xs-3">
    <%= link_to product_path(@product3) do %>
        <figure class="recomend-item"><%= attachment_image_tag(@product3, :image, :fill, 230, 230,)%></figure>
    <% end %><br>
	<%= @product3.name%><br>
    짜<%= @product3.price%>
</div>

<div class="recommend-item-list col-xs-3">
    <%= link_to product_path(@product4) do %>
        <figure class="recomend-item"><%= attachment_image_tag(@product4, :image, :fill, 230, 230,)%></figure>
    <% end %><br>
	<%= @product4.name%><br>
    짜<%= @product4.price%>
</div>


