<div class="container">
	<div class="row">
		<div class="col-xs-2">
			<h5><span><strong>ジャンルから探す</strong></span></h5>
			<%= render "public/products/sidebar" %>
		</div>
        <div class="col-xs-10 product-index">
		        <% if params[:product_genre_id] %>
		        	<div class="product-title"><h4><%= @product_genre.name %></h4><p>(全<%= @products.count %>件)</p></div>
		        <% else %>
		　　　　　　　<div class="product-title-all"><h4>All Products</h4><p>(全<%= @products.count %>件)</p></div>
		        <% end %>

    	    <% @products.each do |product|%>
    	    	<div class="product">
	    	    	<%= link_to product_path(product.id) do %>
	    	    		<figure class="product-image"><%= attachment_image_tag(product, :image, :fill, 200, 200)%></figure>
	    	    	<% end %><br>
	    	    	<p><%= product.name%></p>
	    	    	<p>¥<%= product.price%></p>
    	    	</div>
    	    <% end %>
        </div>
    </div>
</div>

