<div class="customer-signup">
  <ul>
    <h4><span style="background-color: #efefef">新規会員登録</span></h4>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "customers/shared/error_messages", resource: resource %>

        <li class="name">
          <br><label><%= f.label :名前 %></label>
          <%= f.text_field :last_name, autofocus: true, :placeholder => " 姓", autocomplete: "last_name" %>
          <%= f.text_field :first_name, autofocus: true, :placeholder => " 名", autocomplete: "first_name" %>
        </li>

        <li class="name-kana">
          <label><%= f.label :フリガナ %></label>
          <%= f.text_field :last_name_kana, autofocus: true, :placeholder => " セイ",　autocomplete: "last_name_kana" %>
          <%= f.text_field :first_name_kana, autofocus: true, :placeholder => " メイ", autocomplete: "first_name_kana" %>
        </li>

        <li class="email">
          <label><%= f.label :Eメール %></label>
          <%= f.text_field :email, autofocus: true, autocomplete: "email" %>
        </li>

        <li class="postcode">
          <label><%= f.label :郵便番号 %></label>
          <%= f.text_field :postcode, autofocus: true,　autocomplete: "postcode" %>
        </li>

        <li class="address-a">
          <label><%= f.label :住所 %></label>
          <%= f.text_field :address, autofocus: true, autocomplete: "address", :size=>'45' %>
        </li>

        <li class="phone">
          <label><%= f.label :電話番号 %></label>
          <%= f.text_field :phone, autofocus: true, autocomplete: "phone" %>
        </li>

        <li class="password">
          <label><%= f.label :"パスワード" %><br><p>(6文字以上)</p></label>
          <%= f.password_field :password, autofocus: true, autocomplete: "password" %>
        </li>

        <li class="password_confirmation">
          <label><%= f.label :"パスワード" %><p>(確認用)</p></label>
            <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </li>
        <br>
        <%= f.submit "新規登録", class: "btn botan col-md-6 col-md-offset-3" %><br>
      <% end %>

    <br><br><br>
    <h4><span style="background-color: #efefef" >既に会員登録済みの方</span></h4>
    <%- if controller_name != 'sessions' %>
      <p><%= link_to "こちら　", new_session_path(resource_name) %>からログインしてください。</p>
    <% end %>
  </ul>
</div>