<div class="customer-login col-md-7 col-md-offset-3">
	<h4><span style="background-color: #efefef" >パスワードをお忘れの方</span></h4>
	<p>メールアドレスを入力してパスワードの再登録を行ってください。</p>

	<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
	  <%= render "customers/shared/error_messages", resource: resource %>

	  <div class="field">
	    <br><%= f.label :Eメール %><br>
	    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
	  </div>

	  <div class="actions">
	    <br><%= f.submit "パスワード再設定のメールを送る", class: "btn btn-secondary col-xs-6 login" %>
	  </div>
	<% end %>
</div>

