<h3>注文履歴詳細</h3>

<table>
	<tbody>
		<tr>
			<th>購入者</th>
			<td><%= @order.customer.last_name %></td>
		</tr>
		<tr>
			<th>配送先</th>
			<td><%= @order.address %></td>
		</tr>
		<tr>
			<th></th>
			<td><%= @order.name %></td>
		</tr>
		<tr>
			<th>支払い方法</th>
			<td><%= @order.payment_method %></td>
		</tr>
		<tr>
			<th>注文ステータス</th>
			<td><%= f.select :@order.order_status,Order.order_statuses_i18n.invert, {}, placeholder: 0 %></td>
		</tr>
	</tbody>
</table>

<table class="table table-hover">
	<thead>
		<tr>
			<th>商品名</th>
			<th>価格（税込）</th>
			<th>数量</th>
			<th>小計</th>
			<th>製作ステータス</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% @product.each do |product| %>
			<tr>
				<td><%= product.id %></td>
	  			<td><%= product.name %></td>
	  			<td><%= product.price %></td>
	  			<td><%= product.product_genre.name %></td>
	  			<td><%= product.sale_status %></td>
	  			<td><%= f.select :@order.ordered_product.make_status, [["製造不可", 0],["製造待ち", "製造待ち"]["製作中", "製作中"]["製作完了", "製作完了"]], include_blank: "選択して下さい" %></td>
	 		</tr>
		<%end%>
	</tbody>
</table>

<table>
	<tbody>
		<tr>
			<th>商品合計</th>
			<td></td>
		</tr>
		<tr>
			<th>送料</th>
			<td>800円</td>
		</tr>
		<tr>
			<th>請求金額合計</th>
			<td></td>
		</tr>
	</tbody>
</table>
