<h3>商品詳細</h3><br>
<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<div class="col-xs-2">
			<%= attachment_image_tag(@product, :image, :fill, 300, 300,)%>
		</div>
		<div class="col-xs-10">
			<ul class="product-show">
				<li>
					<label><strong>商品名</strong></label>
					<%= @product.name%>
				</li>
				<li>
					<label><strong>商品説明</strong></label>
					<%= @product.body%>
				</li>
				<li>
					<label><strong>ジャンル</strong></label>
					<%= @product.product_genre.name%>
				</li>
				<li>
					<label><strong>税込価格(税抜価格)</strong></label>
					<%= (@product.price * 1.10).round(0)%>( <%= @product.price%> )円
				</li>
				<li>
					<label><strong>販売ステータス</strong></label>
					<% if @product.sale_status == true %>
				  		販売中
					<% else %>
				 		売り切れ
					<% end %>
				</li>
			</ul>
		</div>
		<%=link_to "編集する", edit_admin_product_path, class: "btn botan col-xs-3 pull-right" %>
	</div>
</div>
