<h2>商品詳細</h2>

<%= attachment_image_tag(@product, :image, :fill, 200, 200,)%>

<h4>商品名<%= @product.name%></h4>

<h4>商品説明<%= @product.body%></h4>

<h4>ジャンル<%= @product.product_genre.name%></h4>

<h4>税込価格(税抜価格)<%= (@product.price * 1.10).round(0)%>(<%= @product.price%>)円</h4>

<h4>販売ステータス<%= @product.sale_status%></h4>

<%=link_to "編集する", edit_admin_product_path, class: "btn btn-success col-xs-10 col-xs-offset-1" %>
